#comments
  background: #fff
  box-shadow: 1px 2px 3px #ddd
  padding: article-padding
  border: 1px solid color-border
  border-radius: 3px
  margin: block-margin 0
  a
    color: color-link
 
#comments .comment
  border-bottom: 1px dashed #d3d3d3;

#comments .comment-header
  margin-top: 1.6em;

#comments .comment-content
  margin-left: 1em;
  font-size: 0.9em;

#comments .comment-footer
  width: 40%;
  margin-left: 55%;

#comments .comment-reply
  margin-left: 1em;
  font-size: 0.9em;
